<!doctype html>
<html>

<head>
  <title>21 Savage Fan Site</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Chela+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>

<body>
  <section class="wholeThang">

    <section class="topOfHeader">
      <h1>Fresh Eatery</h1>
      <h3>Our Style</h3>
      <!-- <section class="line">
      <ul>
        <div class="acrossline">
          <li>Recipes</li>
        </div>
        <div class="acrossline">
          <li>About</li>
        </div>
        <div class="acrossline">
          <li>More</li>
        </div>
      </ul>
    </section> -->
    </section>


    <header>
      <section class="leftside">
      </section>

      <div class="page-header text-center">

      </div>

      <section class="rightside">
        <a class="lgout" href="/logout" class="btn btn-default btn-sm">Logout</a>
      </section>
    </header>

    <div class="container">


      <section class="veggie">
        <h1>Vegetarian Recipes That Are Hearty and Satisfying</h1>
        <h3>Have meat really been refreshingly satisfying?</h3>
      </section>

      <div class="row">

        <!-- password and user id -->

        <!-- LOCAL INFORMATION -->
        <!-- <div class="col-sm-6">
        <div class="well">
          <h3><span class="fa fa-user"></span> Local</h3>

          <% if (user.local.email) { %>
            <p>
              <strong>id</strong>:
              <%= user._id %><br>
                <strong>email</strong>:
                <%= user.local.email %><br>
                  <strong>password</strong>:
                  <%= user.local.password %>
            </p>

            <a href="/unlink/local" class="btn btn-default">Unlink</a>
            <% } else { %>
              <a href="/connect/local" class="btn btn-default">Connect Local</a>
              <% } %>

        </div>
      </div> -->
        <section class="textbox">

          <textarea>People become vegetarians for many reasons, including health, religious convictions, concerns about animal welfare or the use of antibiotics and hormones in livestock, or a desire to eat in a way that avoids excessive use of environmental resources. Some people follow a largely vegetarian diet because they can't afford to eat meat. Becoming a vegetarian has become more appealing and accessible, thanks to the year-round availability of fresh produce, more vegetarian dining options, and the growing culinary influence of cultures with largely plant-based diets.

Approximately six to eight million adults in the United States eat no meat, fish, or poultry, according to a Harris Interactive poll commissioned by the Vegetarian Resource Group, a nonprofit organization that disseminates information about vegetarianism. Several million more have eliminated red meat but still eat chicken or fish. About two million have become vegans, forgoing not only animal flesh but also animal-based products such as milk, cheese, eggs, and gelatin.

Traditionally, research into vegetarianism focused mainly on potential nutritional deficiencies, but in recent years, the pendulum has swung the other way, and studies are confirming the health benefits of meat-free eating. Nowadays, plant-based eating is recognized as not only nutritionally sufficient but also as a way to reduce the risk for many chronic illnesses. According to the American Dietetic Association, "appropriately planned vegetarian diets, including total vegetarian or vegan diets, are healthful, nutritionally adequate, and may provide health benefits in the prevention and treatment of certain diseases."

"Appropriately planned" is the operative term. Unless you follow recommended guidelines on nutrition, fat consumption, and weight control, becoming a vegetarian won't necessarily be good for you. A diet of soda, cheese pizza, and candy, after all, is technically "vegetarian." For health, it's important to make sure that you eat a wide variety of fruits, vegetables, and whole grains. It's also vital to replace saturated and trans fats with good fats, such as those found in nuts, olive oil, and canola oil. And always keep in mind that if you eat too many calories, even from nutritious, low-fat, plant-based foods, you'll gain weight. So it's also important to practice portion control, read food labels, and engage in regular physical activity.

You can get many of the health benefits of being vegetarian without going all the way. For example, a Mediterranean eating pattern — known to be associated with longer life and reduced risk of several chronic illnesses — features an emphasis on plant foods with a sparing use of meat. Even if you don't want to become a complete vegetarian, you can steer your diet in that direction with a few simple substitutions, such as plant-based sources of protein — beans or tofu, for example — or fish instead of meat a couple of times a week.

Only you can decide whether a vegetarian diet is right for you. If better health is your goal, here are some things to consider.

Varieties of vegetarians
Strictly speaking, vegetarians are people who don't eat meat, poultry, or seafood. But people with many different dietary patterns call themselves vegetarians, including the following:

Vegans (total vegetarians): Do not eat meat, poultry, fish, or any products derived from animals, including eggs, dairy products, and gelatin.

Lacto-ovo vegetarians: Do not eat meat, poultry, or fish, but do eat eggs and dairy products.

Lacto vegetarians: Eat no meat, poultry, fish, or eggs, but do consume dairy products.

Ovo vegetarians: Eat no meat, poultry, fish, or dairy products, but do eat eggs.

Partial vegetarians: Avoid meat but may eat fish (pesco-vegetarian, pescatarian) or poultry (pollo-vegetarian).

Can becoming a vegetarian protect you against major diseases?
Maybe. Compared with meat eaters, vegetarians tend to consume less saturated fat and cholesterol and more vitamins C and E, dietary fiber, folic acid, potassium, magnesium, and phytochemicals (plant chemicals), such as carotenoids and flavonoids. As a result, they're likely to have lower total and LDL (bad) cholesterol, lower blood pressure, and lower body mass index (BMI), all of which are associated with longevity and a reduced risk for many chronic diseases.

But there still aren't enough data to say exactly how a vegetarian diet influences long-term health. It's difficult to tease out the influence of vegetarianism from other practices that vegetarians are more likely to follow, such as not smoking, not drinking excessively, and getting adequate exercise. But here's what some of the research has shown so far:

Heart disease. There's some evidence that vegetarians have a lower risk for cardiac events (such as a heart attack) and death from cardiac causes. In one of the largest studies — a combined analysis of data from five prospective studies involving more than 76,000 participants published several years ago — vegetarians were, on average, 25% less likely to die of heart disease. This result confirmed earlier findings from studies comparing vegetarian and nonvegetarian Seventh-day Adventists (members of this religious group avoid caffeine and don't drink or smoke; about 40% are vegetarians). In another study involving 65,000 people in the Oxford cohort of the European Prospective Investigation into Cancer and Nutrition (EPIC-Oxford), researchers found a 19% lower risk of death from heart disease among vegetarians. However, there were few deaths in either group, so the observed differences may have been due to chance.

For heart protection, it's best to choose high-fiber whole grains and legumes, which are digested slowly and have a low glycemic index — that is, they help keep blood sugar levels steady. Soluble fiber also helps reduce cholesterol levels. Refined carbohydrates and starches like potatoes, white rice, and white-flour products cause a rapid rise in blood sugar, which increases the risk of heart attack and diabetes (a risk factor for heart disease).

Nuts are also heart-protective. They have a low glycemic index and contain many antioxidants, vegetable protein, fiber, minerals, and healthy fatty acids. The downside: nuts pack a lot of calories, so restrict your daily intake to a small handful (about an ounce). The upside: because of their fat content, even a small amount of nuts can satisfy the appetite.

Walnuts, in particular, are a rich source of omega-3 fatty acids, which have many health benefits. Even so, fish are the best source of omega-3s, and it's not clear whether plant-derived omega-3s are an adequate substitute for fish in the diet. One study suggests that omega-3s from walnuts and fish both work to lower heart disease risk, but by different routes. Walnut omega-3s (alpha-linolenic acid, or ALA) help reduce total cholesterol and LDL (bad) cholesterol, while omega-3s from fish (eicosapentaenoic acid, or EPA, and docosahexaenoic acid, or DHA) lower triglycerides and raise HDL (good) cholesterol levels.

Cancer. Hundreds of studies suggest that eating lots of fruits and vegetables can reduce the risk of developing certain cancers, and there's evidence that vegetarians have a lower incidence of cancer than nonvegetarians do. But the differences aren't large. A vegetarian diet can make it easier to get the recommended minimum of five daily servings of fruits and vegetables, but a purely vegetarian diet is not necessarily better than a plant-based diet that also includes fish or poultry. For example, in a pooled analysis of data from the Oxford Vegetarian Study and EPIC-Oxford, fish-eaters had a lower risk of certain cancers than vegetarians.

If you stop eating red meat (whether or not you become a vegetarian), you'll eliminate a risk factor for colon cancer. It's not clear whether avoiding all animal products reduces the risk further. Vegetarians usually have lower levels of potentially carcinogenic substances in their colons, but studies comparing cancer rates in vegetarians and nonvegetarians have shown inconsistent results.

Type 2 diabetes. Research suggests that a predominantly plant-based diet can reduce the risk for type 2 diabetes. In studies of Seventh-day Adventists, vegetarians' risk of developing diabetes was half that of nonvegetarians, even after taking BMI into account. The Harvard-based Women's Health Study found a similar correlation between eating red meat (especially processed meats, such as bacon and hot dogs) and diabetes risk, after adjusting for BMI, total calorie intake, and exercise.

What about bone health?
Some women are reluctant to try a vegetarian diet — especially one that doesn't include calcium-rich dairy products — because they're concerned about osteoporosis. Lacto-ovo vegetarians (see "Varieties of vegetarians") consume at least as much calcium as meat-eaters, but vegans typically consume less. In the EPIC-Oxford study, 75% of vegans got less than the recommended daily amount of calcium, and vegans in general had a relatively high rate of fractures. But vegans who consumed at least 525 milligrams of calcium per day were not especially vulnerable to fractures.

Certain vegetables can supply calcium, including bok choy, broccoli, Chinese cabbage, collards, and kale. (Spinach and Swiss chard, which also contain calcium, are not such good choices, because along with the calcium they have oxalates, which make it harder for the body to absorb calcium.) Moreover, the high potassium and magnesium content of fruits and vegetables reduces blood acidity, lowering the urinary excretion of calcium.

People who follow a vegetarian diet and especially a vegan diet may be at risk of getting insufficient vitamin D and vitamin K, both needed for bone health. Although green leafy vegetables contain some vitamin K, vegans may also need to rely on fortified foods, including some types of soy milk, rice milk, organic orange juice, and breakfast cereals. They may also want to consider taking a vitamin D supplement.

Selected resources
Becoming a vegetarian requires planning and knowledge of plant-based nutrition. Here are some resources that can help:

American Dietetic Association
www.eatright.org

The Vegetarian Resource Group
www.vrg.org

Vegetarian Society of the United Kingdom
www.vegsoc.org

What about the health risks of being vegetarian?
Concerns about vegetarian diets have focused mainly on the following nutrients:

Protein. Research shows that lacto-ovo vegetarians generally get the recommended daily amount of protein, which is easily obtained from dairy products and eggs. (Women need about 0.4 grams of protein per pound of body weight per day. Because the protein in vegetables is somewhat different from animal protein, vegans may need 0.45 grams of protein per pound of body weight per day.) There are many plant sources that can help vegans meet their protein needs, including peas, beans, lentils, chickpeas, seeds, nuts, soy products, and whole grains (for example, wheat, oats, barley, and brown rice). Vegetarians used to be told that they had to combine "complementary" plant proteins (rice with beans, for example) at every meal to get all the amino acids contained in meat protein. Now, health experts say that such rigid planning is unnecessary. According to the American Dietetic Association, eating a wide variety of protein sources every day is sufficient.

Vitamin B12. Vitamin B12 is found only in animal products, but those products include dairy foods and eggs, so most vegetarians get all they need. If you avoid animal products altogether, you should eat foods fortified with vitamin B12 (certain soy and rice beverages and breakfast cereals) or take a vitamin B12 supplement to avoid a deficiency, which can cause neurological problems and pernicious anemia.

Iron. Studies show that in Western countries, vegetarians tend to get the same amount of iron as meat eaters. But the iron in meat (especially red meat) is more readily absorbed than the kind found in plant foods, known as non-heme iron. The absorption of non-heme iron is enhanced by vitamin C and other acids found in fruits and vegetables, but it may be inhibited by the phytic acid in whole grains, beans, lentils, seeds, and nuts.

Zinc. Phytic acid in whole grains, seeds, beans, and legumes also reduces zinc absorption, but vegetarians in Western countries do not appear to be zinc-deficient.

Omega-3 fatty acids. Diets that include no fish or eggs are low in EPA and DHA. Our bodies can convert ALA in plant foods to EPA and DHA, but not very efficiently. Vegans can get DHA from algae supplements, which increase blood levels of DHA as well as EPA (by a process called retroversion). DHA-fortified breakfast bars and soy milk are also available. Official dietary guidelines recommend 1.10 grams per day of ALA for women, but vegetarians who consume little or no EPA and DHA should probably get more than that. Good ALA sources include flaxseed, walnuts, canola oil, and soy.</textarea>
        </section>

        <div class="video">
          <iframe width="1899" height="764" src="https://www.youtube.com/embed/Sf0miHIujeI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

        <div class="col-sm-6">
          <h3>Messages</h3>
          <section class="thisBox">

            <ul class="messages">
              <% for(var i=0; i<messages.length; i++) {%>
                <li class="message">
                  <span><%= messages[i].name %></span>
                  <span><%= messages[i].msg %></span>
                  <span><%= messages[i].thumbUp %></span>
                  <span><%= messages[i].city %></span>
                  <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                  <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
                  <span><i class="fas fa-times" aria-hidden="true"></i></span>
                </li>
                <% } %>
            </ul>
          </section>

          <h2>Add a comment</h2>
          <% if (user.local.email) { %>
            <form action="/messages" method="POST">
              <h4>Name</h4>
              <input type="text" value="<%= user.local.email %>" name="name">
              <h4>comment</h4>
              <input id="msgBox" type="text" placeholder="message" name="msg">
              <h4>State, City</h4>
              <input type="text" placeholder="City" name="city">
              <button type="submit">Submit</button>
            </form>
        </div>
        <% } %>

      </div>
  </section>

  <script src="main.js"></script>

</body>

</html>